;; Programmer Gallium
;; Gallium on alphas, retains qwerty shortcuts when command or option is held
;;
;; Owner: Hong Yi En, Ian <ianfromdover>
;; Last Change: 23 Apr 2023
;; Why: Sturdy -> Gallium
;; Next Improvements:
;;   - Layers?
;;
;; Usage
;; brew services start goku 
;; goku ;; to check if compiles properly

{:layers {}
 :main [
  {:des "Toggle Profile"
   :rules [
     [:!Tspacebar "'/Library/Application Support/org.pqrs/Karabiner-Elements/bin/karabiner_cli' --select-profile 'Vanilla'"] 
  ]}
  {:des "Gallium"
   :rules [
     [:q :b]
     [:w :l] 
     [:e :d]
     [:r :c]
     [:t :v]
     [:y :z]
     [:u :y]
     [:i :o]
     [:o :u]
     [:p :comma] ;

     [:a :n]
     [:s :r]
     [:d :t]
     [:f :s]
     [:g :g]
     [:h :p]
     [:j :h]
     [:k :a]
     [:l :e]
     [:semicolon :i]
     [:quote :slash] ;

     [:z :q]
     [:x :x] ;; keep for standardisation sake
     [:c :m]
     [:v :w]
     [:b :j]
     [:n :k]
     [:m :f]
     [:comma :quote]
     [:period :semicolon]
     [:slash :period]
  ]}
  {:des "Gallium Left Shift"
   :rules [
     [:!Sq :!Sb]
     [:!Sw :!Sl] 
     [:!Se :!Sd]
     [:!Sr :!Sc]
     [:!St :!Sv]
     [:!Sy :!Sz]
     [:!Su :!Sy]
     [:!Si :!So]
     [:!So :!Su]
     [:!Sp :!Scomma] ;

     [:!Sa :!Sn]
     [:!Ss :!Sr]
     [:!Sd :!St]
     [:!Sf :!Ss]
     [:!Sg :!Sg]
     [:!Sh :!Sp]
     [:!Sj :!Sh]
     [:!Sk :!Sa]
     [:!Sl :!Se]
     [:!Ssemicolon :!Si]
     [:!Squote :!Sslash] ;

     [:!Sz :!Sq]
     [:!Sx :!Sx] ;; keep for standardisation sake
     [:!Sc :!Sm]
     [:!Sv :!Sw]
     [:!Sb :!Sj]
     [:!Sn :!Sk]
     [:!Sm :!Sf]
     [:!Scomma :!Squote]
     [:!Speriod :!Ssemicolon]
     [:!Sslash :!Speriod]
  ]}
  {:des "Gallium Right Shift"
   :rules [
     [:!Rq :!Rb]
     [:!Rw :!Rl] 
     [:!Re :!Rd]
     [:!Rr :!Rc]
     [:!Rt :!Rv]
     [:!Ry :!Rz]
     [:!Ru :!Ry]
     [:!Ri :!Ro]
     [:!Ro :!Ru]
     [:!Rp :!Rcomma] ;

     [:!Ra :!Rn]
     [:!Rs :!Rr]
     [:!Rd :!Rt]
     [:!Rf :!Rs]
     [:!Rg :!Rg]
     [:!Rh :!Rp]
     [:!Rj :!Rh]
     [:!Rk :!Ra]
     [:!Rl :!Re]
     [:!Rsemicolon :!Ri]
     [:!Rquote :!Rslash] ;

     [:!Rz :!Rq]
     [:!Rx :!Rx] ;; keep for standardisation sake
     [:!Rc :!Rm]
     [:!Rv :!Rw]
     [:!Rb :!Rj]
     [:!Rn :!Rk]
     [:!Rm :!Rf]
     [:!Rcomma :!Rquote]
     [:!Rperiod :!Rsemicolon]
     [:!Rslash :!Rperiod]
  ]}
  {:des "Gallium Caps"
   :rules [
     [:!Pq :!Pb]
     [:!Pw :!Pl] 
     [:!Pe :!Pd]
     [:!Pr :!Pc]
     [:!Pt :!Pv]
     [:!Py :!Pz]
     [:!Pu :!Py]
     [:!Pi :!Po]
     [:!Po :!Pu]
     [:!Pp :!Pcomma] ;

     [:!Pa :!Pn]
     [:!Ps :!Pr]
     [:!Pd :!Pt]
     [:!Pf :!Ps]
     [:!Pg :!Pg]
     [:!Ph :!Pp]
     [:!Pj :!Ph]
     [:!Pk :!Pa]
     [:!Pl :!Pe]
     [:!Psemicolon :!Pi]
     [:!Pquote :!Pslash] ;

     [:!Pz :!Pq]
     [:!Px :!Px] ;; keep for standardisation sake
     [:!Pc :!Pm]
     [:!Pv :!Pw]
     [:!Pb :!Pj]
     [:!Pn :!Pk]
     [:!Pm :!Pf]
     [:!Pcomma :!Pquote]
     [:!Pperiod :!Psemicolon]
     [:!Pslash :!Pperiod]
  ]}
  {:des "Gallium Caps LShift"
   :rules [
     [:!PSq :!PSb]
     [:!PSw :!PSl] 
     [:!PSe :!PSd]
     [:!PSr :!PSc]
     [:!PSt :!PSv]
     [:!PSy :!PSz]
     [:!PSu :!PSy]
     [:!PSi :!PSo]
     [:!PSo :!PSu]
     [:!PSp :!PScomma] ;

     [:!PSa :!PSn]
     [:!PSs :!PSr]
     [:!PSd :!PSt]
     [:!PSf :!PSs]
     [:!PSg :!PSg]
     [:!PSh :!PSp]
     [:!PSj :!PSh]
     [:!PSk :!PSa]
     [:!PSl :!PSe]
     [:!PSsemicolon :!PSi]
     [:!PSquote :!PSslash] ;

     [:!PSz :!PSq]
     [:!PSx :!PSx] ;; keep for standardisation sake
     [:!PSc :!PSm]
     [:!PSv :!PSw]
     [:!PSb :!PSj]
     [:!PSn :!PSk]
     [:!PSm :!PSf]
     [:!PScomma :!PSquote]
     [:!PSperiod :!PSsemicolon]
     [:!PSslash :!PSperiod]
  ]}
  {:des "Gallium Caps RShift"
   :rules [
     [:!PRq :!PRb]
     [:!PRw :!PRl] 
     [:!PRe :!PRd]
     [:!PRr :!PRc]
     [:!PRt :!PRv]
     [:!PRy :!PRz]
     [:!PRu :!PRy]
     [:!PRi :!PRo]
     [:!PRo :!PRu]
     [:!PRp :!PRcomma] ;

     [:!PRa :!PRn]
     [:!PRs :!PRr]
     [:!PRd :!PRt]
     [:!PRf :!PRs]
     [:!PRg :!PRg]
     [:!PRh :!PRp]
     [:!PRj :!PRh]
     [:!PRk :!PRa]
     [:!PRl :!PRe]
     [:!PRsemicolon :!PRi]
     [:!PRquote :!PRslash] ;

     [:!PRz :!PRq]
     [:!PRx :!PRx] ;; keep for standardisation sake
     [:!PRc :!PRm]
     [:!PRv :!PRw]
     [:!PRb :!PRj]
     [:!PRn :!PRk]
     [:!PRm :!PRf]
     [:!PRcomma :!PRquote]
     [:!PRperiod :!PRsemicolon]
     [:!PRslash :!PRperiod]
  ]}
  {:des "⌘ QWERTY Left" ;; Resets keys to QWERTY when cmd is held so shortcuts are retained
   :rules [
     [:!C##q :!Cq] ;; don't need to change when layout changes
     [:!C##w :!Cw] 
     [:!C##e :!Ce]
     [:!C##r :!Cr]
     [:!C##t :!Ct]
     [:!C##y :!Cy]
     [:!C##u :!Cu]
     [:!C##i :!Ci]
     [:!C##o :!Co]
     [:!C##p :!Cp]
     [:!C##a :!Ca]
     [:!C##s :!Cs]
     [:!C##d :!Cd]
     [:!C##f :!Cf]
     [:!C##g :!Cg]
     [:!C##h :!Ch]
     [:!C##j :!Cj]
     [:!C##k :!Ck]
     [:!C##l :!Cl]
     [:!C##z :!Cz]
     [:!C##x :!Cx]
     [:!C##c :!Cc]
     [:!C##v :!Cv]
     [:!C##b :!Cb]
     [:!C##n :!Cn]
     [:!C##m :!Cm]
     [:!C##quote :!Cquote]
     [:!C##comma :!Ccomma]
     [:!C##slash :!Cslash]
     [:!C##period :!Cperiod]
     [:!C##semicolon :!Csemicolon]
  ]}
  {:des "⌘ QWERTY Right" ;; Resets keys to QWERTY when cmd is held so shortcuts are retained
   :rules [
     [:!Q##q :!Qq] ;; don't need to change when layout changes
     [:!Q##w :!Qw] 
     [:!Q##e :!Qe]
     [:!Q##r :!Qr]
     [:!Q##t :!Qt]
     [:!Q##y :!Qy]
     [:!Q##u :!Qu]
     [:!Q##i :!Qi]
     [:!Q##o :!Qo]
     [:!Q##p :!Qp]
     [:!Q##a :!Qa]
     [:!Q##s :!Qs]
     [:!Q##d :!Qd]
     [:!Q##f :!Qf]
     [:!Q##g :!Qg]
     [:!Q##h :!Qh]
     [:!Q##j :!Qj]
     [:!Q##k :!Qk]
     [:!Q##l :!Ql]
     [:!Q##z :!Qz]
     [:!Q##x :!Qx]
     [:!Q##c :!Qc]
     [:!Q##v :!Qv]
     [:!Q##b :!Qb]
     [:!Q##n :!Qn]
     [:!Q##m :!Qm]
     [:!Q##quote :!Qquote]
     [:!Q##comma :!Qcomma]
     [:!Q##slash :!Qslash]
     [:!Q##period :!Qperiod]
     [:!Q##semicolon :!Qsemicolon]
]}]}

;; goku on crack: https://medium.com/@nikitavoloboev/karabiner-god-mode-7407a5ddc8f6
;; this is someones goku: https://gist.github.com/kaushikgopal/ff7a92bbc887e59699c804b59074a126

;; essential tutorial for edn config file https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
;; clojure language primitives https://clojure.org/reference/reader
;; {:key :value} map, [vector of things], (list of things)

;; karabiner definition of mandatory and optional
;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

;; ---- From Goku Docs ----
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any // any modifier pressed will also be applied after key conversion

